---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { DONATE } from "@consts";
---

<PageLayout title={DONATE.TITLE} description={DONATE.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white mb-8">
      Offical ways of donating to me
    </h4>
    <section>
      <article class="space-y-4">
       
        <div class="space-y-16">
          <section>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 animate">
              <div class="card-element" onclick="navigator.clipboard.writeText('85iyG3RSf6Y8BPm6CXFSmdMGBBMToyTxaEU4e19m2dQcVH7vydh8EvTa4xkA9ZLyvMaZVVzZ9LwwCPKx7YrHRa4z39maLZG')">
                <span class="card-element-title">Monero</span>
                <p class="mt-2">85iy...aLZG (Click to copy)</p>
              </div>
              <div class="card-element" onclick="window.open('https://vypay.xyz/pay.php?key=930934523f73e2a95265433b52bf8b39')">
                <span class="card-element-title">VYPay (50 VYC)</span>
                <p class="mt-2">Click to enter</p>
              </div>
            </div>
          </section>
        </p>
      </article>  
    </section>
  </Container>
</PageLayout>